body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-style: bold;
    font-weight: 200px;
}

th {
    gap: 10px;
}

p-table {
    font-size: 16px;
    font-style: bold;
    font-weight: 100rem;
    color: black;
}

.custom-table {
    min-width: 10rem;
}

th {
    width: 10%;
}

button {
    /* display: flex;
position:absolute; */
    margin-right: 10px;
    width: 120px;
    padding: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-left: 1200px;
    cursor: pointer;
    align-items: flex-end;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: #f0842c;
    color: rgb(10, 1, 1);
    transition: 0.3s;
}

button:hover {
    background-color: #f3a75f;
    color: rgb(5, 5, 5);
    transition: 0.3s;
}

button a {
    color: black
}

.back {
    display: flex;
    width: 150px;
    margin-left: -1200px;
    padding: 10px 20px;
    margin-top: -65px;
    border-radius: 20px;
    background-color: #f0842c;
}