<!DOCTYPE html>
<html lang="en" class="my-app-dark">


<head>
    <meta charset="UTF-8">
    <title>ASSET INVENTORY LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="hardware-grid.component.css" rel="stylesheet">
</head>

<body>
    <b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>

    <div class="nav-left">
        <div class="navbar">
            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>
            <ul class="nav-links">
                <li><a (click)="goTo('/assets/explore')">EXPLORE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></a></li>
                <li><a (click)="goTo('/assets/support')">SUPPORT DESK <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
  <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
  <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
</svg></a></li>
                <li><a (click)="goTo('/about')">ABOUT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
</svg></a></li>
            </ul>

        </div>
    </div>

    <h3><u>HARDWARE ISSUES INVENTORY </u></h3>

    <div class="buttonrow">
        <button type="submit" class="btn btn-primary" routerlink="assets/hardware" (click)="goToHardware()"><img src ="assets/images/image (13).svg">Add Hardware</button>
        <button type="button" class="btn btn-dark" (click)="goToDashboard()" routerlink="/dashboard"><img src="assets/images/image (10).svg">To Dashboard</button>
    </div>

    <p-table class="custom-table" [value]="hardware$ | async " [paginator]="true" [rows]="10">
        <ng-template #header>
            <tr>
                <th pSortableColumn="id">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="problemDescription">ProblemDescription
                    <p-sortIcon field="problemDescription"></p-sortIcon>
                </th>
                <th pSortableColumn=" assetTypeId">AssetTypeId
                    <p-sortIcon field=" assetTypeId"></p-sortIcon>
                </th>
                <th pSortableColumn="serialNumber">SerialNumber
                    <p-sortIcon field="serialNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="assetName">AssetName
                    <p-sortIcon field="assetName"></p-sortIcon>
                </th>
                <th pSortableColumn="assetType">AssetType
                    <p-sortIcon field="assetType"></p-sortIcon>
                </th>
                <th pSortableColumn="dateSubmitted">DateSubmitted
                    <p-sortIcon field="dateSubmitted"></p-sortIcon>
                </th>
                <th pSortableColumn="dateOfIssue">DateOfIssue
                    <p-sortIcon field="dateOfIssue"></p-sortIcon>
                </th>
                <th pSortableColumn="warrantyDate">WarrantyDate
                    <p-sortIcon field="warrantyDate"></p-sortIcon>
                </th>

        </ng-template>
        <ng-template #body let-hardware>
            <tr>
                <td>{{ hardware.id }}</td>
                <td>{{ hardware.problemDescription }}</td>
                <td>{{ hardware.assetTypeId }}</td>
                <td>{{ hardware.serialNumber }}</td>
                <td>{{ hardware.assetName }}</td>
                <td>{{ hardware.assetType }}</td>
                <td>{{ hardware. dateSubmitted | date}}</td>
                <td>{{ hardware.dateOfIssue | date }}</td>
                <td>{{ hardware.warrantyDate | date}}</td>
            </tr>
        </ng-template>
    </p-table>
</body>