<html>



<head>
    <meta charset="utf-8">
    <title>Guides</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.15.0/mapbox-gl.js"></script>
</head>

<b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>

<div class="nav-left">
    <div class="navbar">
        <div class="logo-wrapper">
            <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
            <p class="below">TRACK | MANAGE | DISPOSE</p>
        </div>
        <ul class="nav-links">
            <li><a (click)="goTo('/assets/explore')">EXPLORE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></a></li>
            <li><a (click)="goTo('/assets/support')">SUPPORT DESK <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
  <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
  <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
</svg></a></li>
            <li><a (click)="goTo('/about')">ABOUT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
</svg></a></li>
        </ul>

    </div>
</div>

<div #mapContainer class="map-container" style="width: 100%; height: 500px;">
</div>

<p-table class="custom-table" [value]="locationss$ | async" [paginator]="true" [rows]="50">
    <ng-template #header>
        <tr>
            <th pSortableColumn="id">Id
                <p-sortIcon field="id"></p-sortIcon>
            </th>

            <th pSortableColumn="serialNumber">Serial Number
                <p-sortIcon field="serialNumber"></p-sortIcon>
            </th>

            <th pSortableColumn="assetTypeId">Asset Type ID
                <p-sortIcon field="assetTypeId"></p-sortIcon>
            </th>

            <th pSortableColumn="assetType">Asset Type
                <p-sortIcon field="assetType"></p-sortIcon>
            </th>

            <th pSortableColumn="status">Status
                <p-sortIcon field="status"></p-sortIcon>
            </th>

            <th pSortableColumn="location">Location
                <p-sortIcon field="location"></p-sortIcon>
            </th>

            <th pSortableColumn="lastCheckedOut">Last Checked Out
                <p-sortIcon field="lastCheckedOut"></p-sortIcon>
            </th>

            <th pSortableColumn="latitude">Latitude
                <p-sortIcon field="latitude">
                </p-sortIcon>
            </th>

            <th pSortableColumn="longitude">Longitude
                <p-sortIcon field="longitude">
                </p-sortIcon>
            </th>

            <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
            </th>


        </tr>
    </ng-template>




    <ng-template #body let-locationss$>
        <tr (click)="showOnMap(locationss$)">

            <td>{{ locationss$.id }}</td>
            <td>{{locationss$.serialNumber }}</td>
            <td>{{locationss$.assetTypeId}}</td>
            <td>{{ locationss$.assetType }}</td>
            <td>{{ locationss$.status }}</td>
            <td>{{ locationss$.location }}</td>
            <td>{{ locationss$.lastCheckedOut | date}}</td>
            <td>{{ locationss$.latitude }}</td>
            <td>{{ locationss$.longitude }}</td>
            <td>{{ locationss$.name }}</td>

        </tr>

    </ng-template>
</p-table>

<body>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicnVoZWVuIiwiYSI6ImNtZnAxYjdodTAydDcya3M3MjE2ejFyY2MifQ.4L8TpiIAv0JRXDFbcWLUuA';

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/standard',
            projection: 'globe',
            zoom: 1,
            center: [30, 15],

        });

        map.addControl(new mapboxgl.NavigationControl());
        map.scrollZoom.disable();
        m

        map.on('style.load', () => {
            map.setFog({});
        });
    </script>

</body>

</html>