<div class="live">
    <b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>

    <div class="nav-left">
        <div class="navbar">
            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>
            <ul class="nav-links">
                <li>
                    <a (click)="goTo('/assets/explore')">
                        <img src="assets/images/image (1).svg">EXPLORE</a>
                </li>

                <li>
                    <a (click)="goTo('/assets/support')">
                        <img src="assets/images/image (2).svg">SUPPORT DESK </a>
                </li>

                <li>
                    <a (click)="goTo('/about')">
                        <img src="assets/images/image (3).svg">ABOUT</a>
                </li>

            </ul>
        </div>
    </div>

    <h3><u>LIVE TRACKING</u></h3>


    <p-table class="custom-table" [value]="live$| async" [paginator]="true" [rows]="10">
        <ng-template #header>
            <tr>
                <th pSortableColumn="id">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>

                <th pSortableColumn="serialNumber">Serial Number
                    <p-sortIcon field="serialNumber"></p-sortIcon>
                </th>

                <th pSortableColumn="assetTypeId">Asset Type ID
                    <p-sortIcon field="assetTypeId"></p-sortIcon>
                </th>

                <th pSortableColumn="assetType">Asset Type
                    <p-sortIcon field="assetType"></p-sortIcon>
                </th>

                <th pSortableColumn="status">Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>

                <th pSortableColumn="location">Location
                    <p-sortIcon field="location"></p-sortIcon>
                </th>

                <th pSortableColumn="lastCheckedOut">Last Checked Out
                    <p-sortIcon field="lastCheckedOut"></p-sortIcon>
                </th>
            </tr>
        </ng-template>


        <ng-template #body let-live>
            <tr>
                <td>{{ live.id }}</td>
                <td>{{ live.serialNumber }}</td>
                <td>{{ live.assetTypeId }}</td>
                <td>{{ live.assetType }}</td>
                <td>{{ live.status }}</td>
                <td>{{ live.location }}</td>
                <td>{{ live.lastCheckedOut | date }}</td>
            </tr>
        </ng-template>
    </p-table>
    <button type="submit" class="btn btn-primary" routerLink="/livemap" (click)="goToLiveMap()">Live MapAssets</button>