body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h3 {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    font-style: bolder;
    color: #111111;
}

th {
    gap: 10px;
}

p-table {
    font-size: 16px;
    font-style: bold;
    font-weight: 100rem;
    color: black;
}

.custom-table {
    min-width: 10rem;
}

th {
    width: 10%;
}

button {
    margin-left: 600px;
    margin-top: 30px;
    background-color: #f0842c;
    width: 200px;
    font-weight: bolder;
    color: black;
    border-radius: 12px;
    height: 45px;
    box-shadow: 3px;
    border-color: rgb(206, 114, 27);
}

button:hover {
    background-color: rgb(231, 110, 66);
    color: black;
    transition-duration: 2s;
}