<div class="navbar">
    <div class="logo-wrapper">
        <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span></h1>
        <p class="below">TRACK | MANAGE | DISPOSE</p>
    </div>


    <ul class="nav-links">
        <li><a (click)="goTo('/assets/explore')" routerLink="/assets/explore">EXPLORE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></a></li>
        <li><a (click)="goTo('/assets/support')" routerLink="/assets/support">SUPPORT DESK <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
  <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
  <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
</svg></a></li>
        <li><a (click)="goTo('/about')" routerLink="/about">ABOUT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
</svg></a></li>
    </ul>
</div>

<div class="login-container">
    <h4>LOGIN</h4>


    <label class="switch">
      <input type="checkbox" [(ngModel)]="isAdmin" name="isAdmin">
      <span class="slider"></span>
    </label>
    <p>{{ isAdmin ? 'Admin Login' : 'User Login' }}</p>


    <form (ngSubmit)="login()" #loginForm="ngForm">
        <div>
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required class="form-control" />
        </div>

        <div>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required class="form-control" />
        </div>
        <div *ngIf="error" class="text-danger mt-2">{{ error }}</div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <button (click)=" goToLoginRegister()">Register!</button>
</div>