body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    cursor: zoom-in;
    background-color: #ffffff;
}

.title {
    color: #0c0c0c;
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    font-style: bold;
    margin-bottom: 20px;
    margin-left: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.highlight {
    color: #fc7e2a;
    font-weight: 500px;
}

.dashboard-container {
    padding: 20px;
    background: #ffffff;
    min-height: 100vh;
}

.topper {
    width: 1200px;
    height: 60px;
    margin-left: 70px;
    border-radius: 14px;
    margin-top: -180px;
    margin-bottom: 0px;
    background-color: #f1ede9;
    color: black;
    font-style: bolder;
    font-weight: 100rem;
    height: value;
}

.line {
    height: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-left: -9px;
    justify-content: bottom;
    height: -100%;
    margin-top: 200px;
    margin-left: 240px;
    background-color: black;
    width: 60px;
}

.line::after {
    margin-top: 90px;
}

.arrange {
    margin-left: 210px;
    text-align: left;
    flex-direction: row;
    display: flex;
    gap: 40px;
    font-style: bolder;
    font-weight: 800em;
    justify-content: flex-start;
    text-decoration: underline;
}

.cards {
    display: grid;
    margin-top: 32px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 160px;
    font-size: 14px;
    font-weight: 800rem;
    height: 300px;
    height: 550px;
    column-gap: 150px;
    gap: 16x;
    transition-duration: 1.5s;
}


/* .card {
        background: rgb(243, 237, 237);
        border: 1px solid #ffe0cc;
        border-radius: 12px;
        font-size: 15px;
        padding: 16px;
        box-shadow: 0 4px 6px rgba(255, 102, 0, 0.1);
        transition: transform 0.2s;
    }
     */

.arrange a:hover {
    color: rgb(230, 93, 3);
}

.card:hover {
    transform: translateY(-4px);
    transition-duration: 0.75s;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-repair {
    color: orange;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}

.status-intransit {
    color: rgb(216, 46, 111);
    font-weight: bold;
}

.date {
    font-size: 12px;
    color: gray;
}

.add-btn {
    margin-top: 200px;
    padding: 10px 20px;
    margin-left: 50px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.add-btn:hover {
    background: #e65c00;
}

.a link {
    text-decoration: none;
}

.card-front,
.card-back {
    background: rgb(255, 255, 255);
    border: 3.5px solid #ffe8d8;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(255, 102, 0, 0.1);
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 0.6s;
    position: absolute;
    width: 100%;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: space-evenly;
}

.card.flipped .card-front {
    transform: rotateY(-180deg);
}

.card.flipped .card-back {
    align-items: center;
    justify-content: space-evenly;
    transform: rotateY(0deg);
}

.update-btn,
.delete-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.update-btn {
    background: #ffb84d;
    color: white;
}

.update-btn:hover {
    background: #e6a040;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
}

.delete-btn:hover {
    background: #e04444;
}