<body>
    <div class="dashboard-container">
        <b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>
        <div class="nav-left">
            <div class="navbar">
                <div class="logo-wrapper">
                    <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                    <p class="below">TRACK | MANAGE | DISPOSE</p>
                </div>
                <ul class="nav-links">
                    <li>
                        <a (click)="goTo('/assets/explore')">
                            <img src="assets/images/image (1).svg">EXPLORE</a>
                    </li>

                    <li>
                        <a (click)="goTo('/assets/support')">
                            <img src="assets/images/image (2).svg">SUPPORT DESK
                        </a>
                    </li>

                    <li>
                        <a (click)="goTo('/about')">
                            <img src="assets/images/image (3).svg">ABOUT </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="topper">
            <div class="arrange">
                <p><a (click)="goTo('/dashboard')"><b>HOME</b></a>
                </p>

                <p><a (click)="goTo('/about')"><b>ABOUT</b></a></p>

                <p><a (click)="goTo('/login')"><b>LOGIN</b></a></p>

                <p><a (click)="goTo('/helppage')"><b>HELP</b></a></p>

                <p><a (click)="goTo('/assets')"><b>ASSETS</b></a></p>

                <p><a (click)="goTo('/assets/support')"><b>SUPPORT</b></a></p>

                <p><a (click)="goTo('/assets/hardware')"><b>HARDWARE</b></a></p>

                <p><a (click)="goTo('/disposable-assets/edispose')"><b>DISPOSAL</b></a></p>

                <p><a (click)="goTo('/assets/software')"><b>SOFTWARE</b></a></p>
            </div>

            <div class="line"></div>

        </div>
        <div class="cards">
            <div class="card" *ngFor="let asset of assets" [class.flipped]="asset.flipped" (click)="toggleFlip(asset)">
                <div class="card-front">
                    <h3>{{ asset.name }}</h3>
                    <p>Status:
                        <span [ngClass]="{
          'status-active': asset.status === 'Active',
          'status-repair': asset.status === 'In Repair',
          'status-inactive': asset.status === 'Inactive',
          'status-intransit':asset.status==='In Transit',
          'status-unknown':asset.status==='Unknown'
        }">
        {{ asset.status }}
        </span>
                    </p>
                    <p class="date">Added: {{ asset.date }}</p>
                </div>

                <div class="card-back">
                    <h3>{{ asset.name }}</h3>
                    <button class="update-btn" (click)="updateAsset(asset); $event.stopPropagation()">Update</button>
                    <button class="delete-btn" (click)="deleteAsset(asset); $event.stopPropagation()">Delete</button>
                    <button class="details-btn" (click)="viewDetails(asset); $event.stopPropagation()">View Details</button>
                </div>
            </div>
        </div>
        <button class="add-btn">+ Add Asset</button>
    </div>
</body>