body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-style: bold;
    font-weight: 200px;
}

th {
    gap: 10px;
}

p-table {
    font-size: 16px;
    font-weight: 100rem;
    color: black;
}

.custom-table {
    min-width: 10rem;
}

th {
    width: 10%;
}


/* .headings {
    font-style: bold;
} */

button {
    margin-right: 10px;
    width: 100px;
    margin-left: 1200px;
    padding: 10px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    cursor: pointer;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    height: 50px;
    font-weight: bold;
    border: none;
    background-color: #f0842c;
    color: rgb(10, 1, 1);
    transition: 0.3s;
}


/* .delete-button {
    width: 120px;
    color: red;
    height: 15px;
} */

button:hover {
    background-color: #f3a75f;
    color: rgb(5, 5, 5);
    transition: 0.3s;
}

button a {
    color: black
}

.back {
    display: flex;
    width: 300px;
    margin-left: -1200px;
    margin-top: -60px;
    background-color: #f0842c;
}

.deletebutton {
    display: flex;
    width: 300px;
    margin-left: -600px;
    margin-top: -35px;
    background-color: #f0842c;
}