<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ASSET INVENTORY LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="inventory.component.css" rel="stylesheet">
</head>

<body>
    <div class="nav-left">
        <div class="navbar">
            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>
            <ul class="nav-links">
                <li>
                    <a (click)="goTo('/assets/explore')">
                        <img src="assets/images/image (1).svg">EXPLORE </a>
                </li>
                <li>
                    <a (click)="goTo('/assets/support')">
                        <img src="assets/images/image (2).svg">SUPPORT DESK</a>
                </li>
                <li>
                    <a (click)="goTo('/about')"><img src="assets/images/image (3).svg">ABOUT</a>
                </li>
            </ul>
        </div>
    </div>

    <h3><u>ASSET INVENTORY LIST</u></h3>
    <div class="buttonrow">
        <button type="button" class="btn btn-dark" (click)="goToDashboard()" routerlink="/dashboard"><img src="assets/images/image (17).svg">To Dashboard</button>

        <button type="button" class="btn btn-primary" routerlink="/assets/add" (click)="goToAddAssets()"><img src="assets/images/image (18).svg">Add Asset</button>

        <button type="button" class="btn btn-primary" (click)="goToDeleteAssets()" routerLink="/assets/delete"><img src="assets/images/image (16).svg">Remove Asset</button>
    </div>

    <p-table class="custom-table" [value]="assets$ | async " [paginator]="true" [rows]="50">
        <ng-template #header>

            <tr>
                <th pSortableColumn="id">ID
                    <p-sortIcon field="id"></p-sortIcon>
                </th>

                <th pSortableColumn="name">NAME
                    <p-sortIcon field="name"></p-sortIcon>
                </th>

                <th pSortableColumn="serialNumber">SERIAL NUMBER
                    <p-sortIcon field="serialNumber"></p-sortIcon>
                </th>

                <th pSortableColumn="department">DEPARTMENT
                    <p-sortIcon field="department"></p-sortIcon>
                </th>

                <th pSortableColumn="dateOfIssue">DATE OF ISSUE
                    <p-sortIcon field="dateOfIssue"></p-sortIcon>
                </th>

                <th pSortableColumn="warrantyDate">WARRANTY DATE
                    <p-sortIcon field="warrantyDate"></p-sortIcon>
                </th>

                <th pSortableColumn="userId">USER ID
                    <p-sortIcon field="userId"></p-sortIcon>
                </th>

                <th pSortableColumn="user">USER
                    <p-sortIcon field="user"></p-sortIcon>
                </th>

                <th pSortableColumn="status">STATUS
                    <p-sortIcon field="status"></p-sortIcon>
                </th>

                <th pSortableColumn="assetTypeId">ASSET TYPE ID
                    <p-sortIcon field="assetTypeId"></p-sortIcon>
                </th>

                <th pSortableColumn="assetType">ASSET TYPE
                    <p-sortIcon field="assetType"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-asset>
            <tr>
                <td (click)="goToDeleteAssets()">{{ asset.id }}</td>
                <td>{{ asset.name}}</td>
                <td>{{ asset.serialNumber }}</td>
                <td>{{ asset.department }}</td>
                <td>{{ asset.dateOfIssue | date }}</td>
                <td>{{ asset.warrantyDate | date }}</td>
                <td>{{ asset.userId }}</td>
                <td>{{ asset.user }}</td>
                <td>{{ asset.status }}</td>
                <td>{{ asset.assetTypeId }}</td>
                <td>{{ asset.assetType }}</td>
            </tr>
        </ng-template>
    </p-table>
</body>