<body>
    <b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>

    <div class="nav-left">
        <div class="navbar">
            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>
            <ul class="nav-links">
                <li>
                    <a (click)="goTo('/assets/explore')">
                        <img src="assets/images/image (1).svg">EXPLORE </a>
                </li>

                <li>
                    <a (click)="goTo('/assets/support')"><img src="assets/images/image (2).svg">SUPPORT DESK</a>
                </li>

                <li>
                    <a (click)="goTo('/about')"><img src="assets/images/image (3).svg">ABOUT </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="icon-grid">
        <img src="assets/images/p1.png.png" />
        <img src="assets/images/p2.png.png" />
        <img src="assets/images/p10.png.png" />
        <img src="assets/images/p3.png.png" />
        <img src="assets/images/p11.png.png" />
        <img src="assets/images/p5.png.png" />
        <img src="assets/images/p14.png" />
        <img src="assets/images/p8.png.png" />
        <img src="assets/images/p15.png" />
        <img src="assets/images/p4.png.png" />
        <img src="assets/images/p20.png" />
        <img src="assets/images/p12.png.png" />
        <img src="assets/images/p11.png.png" />
        <img src="assets/images/p9.png.png" />
        <img src="assets/images/p19.png" />
    </div>

    <div class="container">
        <div class="logo-wrapperr">
            <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlightt">IT</span> </h1>
            <p class="below">TRACK | MANAGE | DISPOSE</p>
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
  <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
</svg> -->
        <p><b>Are you sure you want to logout?</b></p>
        <button class="in">No, stay logged in</button>
        <button class="out" (click)="logout()">Yes, logout</button>
    </div>
</body>