body {
    background-color: #ffffff;
    margin: 0;
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: fit-content;
    color: black;
}

 :root {
    --primary: #d3852b;
    --input-bg: #f9fdf6;
    --card-bg: #ffffff;
    --border: #d9e7cb;
    --text: #ffffff;
}

button {
    width: 200px;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-left: 178px;
    margin-top: 40px;
    cursor: pointer;
    align-items: flex-end;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: #f0852d;
    color: rgb(12, 12, 12);
    transition: 0.3s;
}

.up {
    margin-top: 20px;
}

button:hover {
    background-color: #0f0f0f;
    color: white;
}

.forgot-link {
    color: #1b1b1a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 108px;
    margin-left: 198px;
}

a:hover {
    color: #080808;
}

.half-colored {
    width: 100%;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    margin-top: 130px;
    margin-left: 250px;
    justify-content: center;
    background: linear-gradient(to right, #0c0c0c 50%, #f08522 50%);
    height: 500px;
    width: 650px;
}

.half-colored .right-half {
    justify-content: flex-end;
    margin-left: 400px;
    margin-top: 20px;
}

.half-colored .left-half {
    margin-left: 10px;
    font-size: 15px;
    align-items: flex-start;
    text-align: center;
    margin-top: 60px;
}

.left-half .left {
    margin-left: -10px;
}

.login-card h4 {
    color: #e96a00;
    margin-top: 20px;
    margin-left: 110px;
    font-size: 20px;
    font-weight: bolder;
}

.login-card {
    max-width: 370px;
    margin-left: 120px;
    margin-top: 120px;
    height: 500px;
    padding: 2rem;
    border-radius: 1rem;
    background: #e6e5e4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input,
button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

button {
    background: #ff7b00;
    color: white;
    width: 120px;
    border: none;
    cursor: pointer;
    margin-left: 60px;
}

button:hover {
    background: #e96a00;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: #fdfcfc;
    color: #000000;
    margin-left: -20px;
    position: fixed;
    margin-top: 10px;
    top: -10px;
    left: 0;
    height: 100px;
    width: 1500px;
    border-radius: 25px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.left-half .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #faf7f7;
    margin: 0;
}

.logo .highlight {
    color: #f0842c;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.logo a {
    color: black
}

.left-half .highlight {
    color: #f0842c;
}

.below {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 2px;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
}

.nav-left {
    display: flex;
    margin-left: -50px;
    margin-top: -20px;
    position: absolute;
}

.name {
    color: #000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: -150px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-weight: bold;
    margin-right: 290px;
}

.nav-links a:hover {
    color: #f0842c;
}

.login-container {
    width: 300px;
    margin-top: -20px;
    margin-left: 500px;
    background-color: #e6e5e4;
    padding: 10px;
    border: 1px solid #919090;
    box-shadow: #2b2a2a 0px 4px 8px;
    height: 430px;
    text-align: center;
    border-radius: 15px;
}

button {
    margin-top: 20px;
    margin-left: 40px;
    background-color: #0f0f0f;
}