<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        register</title>

</head>
<div class="nav-left">
    <div class="navbar">
        <div class="logo-wrapper">
            <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
            <p class="below">TRACK | MANAGE | DISPOSE</p>
        </div>
        <ul class="nav-links">
            <li>
                <a (click)="goTo('/assets/explore')"><img src="assets/images/image (1).svg">EXPLORE </a>
            </li>

            <li>
                <a (click)="goTo('/assets/support')">
                    <img src="assets/images/image (2).svg">SUPPORT DESK </a>
            </li>

            <li>
                <a (click)="goTo('/about')"><img src="assets/images/image (3).svg">ABOUT</a>
            </li>
        </ul>
    </div>
</div>

<div class="half-colored">
    <div class="container">
        <div class="left-half">
            <div class="logo">AssetNex <span class=highlight>IT
                </span></div>
            <img class="loginhelp" src="assets/images/login.png " />
        </div>
        <div class="right-half ">
            <h4>REGISTER</h4>
            <form (ngSubmit)="onRegister() ">
                <label>Email <input type="text " placeholder="email " ngModel name="email ">
            </label>
                <label>Password<input type="password" placeholder="password " ngModel name="password "></label>
                <div ngIf="error" class="text-danger mt-2">{{errors}}</div>
                <button type="submit " (click)="onRegister()" class="btn btn-primary">Register</button>
                <div ngIf="message " style="color: green; ">{{message}}</div>
                <ul ngIf="errors.length> 0" style="color: rgb(192, 2, 2);">
                    <a *ngFor="let err of errors">{{ err }}</a>
                </ul>
            </form>
        </div>