<!DOCTYPE html>
<html lang="en" class="my-app-dark">


<head>
    <meta charset="UTF-8">
    <title>SUPPORT LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="support-table.component.css" rel="stylesheet">
</head>

<body>
    <b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>
    <div class="nav-left">
        <div class="navbar">
            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>

            <ul class="nav-links">
                <li>
                    <a (click)="goTo('/assets/explore')">
                        <img src="assets/images/image (1).svg">EXPLORE</a>
                </li>
                <li>
                    <a (click)="goTo('/assets/support')"><img src="assets/images/image (2).svg">SUPPORT DESK</a>
                </li>
                <li>
                    <a (click)="goTo('/about')"><img src="assets/images/image (3).svg">ABOUT</a>
                </li>
            </ul>
        </div>
    </div>
    <h3><u>SUPPORT INVENTORY </u></h3>
    <div class="buttonrow">
        <button type="button" class="btn btn-dark" (click)="goToDashboard()" routerlink="/dashboard"><img src="assets/images/image (10).svg">To Dashboard</button>
        <button type="submit" class="btn btn-primary" routerlink="/assets/suppport" (click)="goToAddSupport()"><img src="assets/images/image (13).svg">Add Support</button>
    </div>
    <p-table class="custom-table" [value]="support$ | async " [paginator]="true" [rows]="10">
        <ng-template #header>
            <tr>
                <th pSortableColumn="id">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="userName">UserName
                    <p-sortIcon field="userName"></p-sortIcon>
                </th>
                <th pSortableColumn=" email">Email
                    <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="employeeId">EmployeeId
                    <p-sortIcon field="employeeId"></p-sortIcon>
                </th>
                <th pSortableColumn="department">Department
                    <p-sortIcon field="department"></p-sortIcon>
                </th>
                <th pSortableColumn="requestType">RequestType
                    <p-sortIcon field="requestType"></p-sortIcon>
                </th>
        </ng-template>
        <ng-template #body let-support>
            <tr>
                <td>{{ support.id }}</td>
                <td>{{ support.userName }}</td>
                <td>{{ support.email}}</td>
                <td>{{ support.employeeId}}</td>
                <td>{{ support.department }}</td>
                <td>{{support.requestType }}</td>
            </tr>
        </ng-template>
    </p-table>
</body>