<!DOCTYPE html>
<html lang="en" class="my-app-dark">


<head>
    <meta charset="UTF-8">
    <title>SUPPORT LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="support-table.component.css" rel="stylesheet">
</head>

<body>
    <b>
            <h1 class="title">AssetNex<span class="highlight">IT</span> Dashboard</h1></b>

    <div class="nav-left">



        <div class="navbar">


            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>


                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>



            <ul class="nav-links">
                <li><a (click)="goTo('/assets/explore')">EXPLORE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></a></li>
                <li><a (click)="goTo('/assets/support')">SUPPORT DESK <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
  <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
  <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
</svg></a></li>
                <li><a (click)="goTo('/about')">ABOUT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
</svg></a></li>
            </ul>

        </div>
    </div>


    <h3><u>SUPPORT INVENTORY </u></h3>



    <div class="buttonrow">

        <button type="button" class="btn btn-dark" (click)="goToDashboard()" routerlink="/dashboard">To Dashboard<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
</svg></button>

        <button type="submit" class="btn btn-primary" routerlink="/assets/suppport" (click)="goToAddSupport()">Add Support</button>
    </div>

    <p-table class="custom-table" [value]="support$ | async " [paginator]="true" [rows]="10">
        <ng-template #header>

            <tr>
                <th pSortableColumn="id">Id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="userName">UserName
                    <p-sortIcon field="userName"></p-sortIcon>
                </th>
                <th pSortableColumn=" email">Email
                    <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="employeeId">EmployeeId
                    <p-sortIcon field="employeeId"></p-sortIcon>
                </th>
                <th pSortableColumn="department">Department
                    <p-sortIcon field="department"></p-sortIcon>
                </th>
                <th pSortableColumn="requestType">RequestType
                    <p-sortIcon field="requestType"></p-sortIcon>
                </th>



        </ng-template>

        <ng-template #body let-support>
            <tr>
                <td>{{ support.id }}</td>
                <td>{{ support.userName }}</td>
                <td>{{ support.email}}</td>
                <td>{{ support.employeeId}}</td>
                <td>{{ support.department }}</td>
                <td>{{support.requestType }}</td>


            </tr>
        </ng-template>
    </p-table>


</body>