    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        color: black;
    }
    
    h3 {
        text-align: center;
        font-size: 18px;
        color: rgb(238, 104, 27);
        font-style: bold;
        font-weight: 200px;
    }
    
    th {
        gap: 10px;
    }
    
    p-table {
        font-size: 16px;
        font-style: bold;
        font-weight: 100rem;
        color: black;
    }
    
    .custom-table {
        min-width: 10rem;
    }
    
    th {
        width: 10%;
    }