<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>explore </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="explore.component.css" rel="stylesheet">
</head>

<body>

    <div class="navbar">

    </div>

    <div class="text">


        <img src="assets/images/explorefour.jpg" alt="log" class="pic" />

        <div class="why"> WHY AssetNex<span class="highlight">IT</span>?
        </div>

        <p class="textone">

            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
</svg> Modern Asset Management : Simplifies tracking, assignment, and status monitoring of IT assets across departments. </div>


            <br>
            <div class="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
</svg>E-Waste Disposal : Compliance Ensures responsible and trackable e-waste management aligned with institutional policies.</div>


            <br>
            <div class="line"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
</svg> Reduces Manual Work : Automates asset logs, request workflows, and support tickets—minimizing paperwork. </div>

            <br>
            <div class="line"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
</svg> Secure Access Control : Role-based login for admins and users ensures authorized access to sensitive data.</div>



            <div class="key">
                Key Functionalities
            </div>


            <p class="texttwo">
                🧾 Asset : Inventory Add, update, view, or retire hardware/software assets in a centralized dashboard. 🛠️ Support Request System: Users can log issues with assets; admins can track, respond, and resolve them. 🔄 E-Waste Disposal Requests: Submit old
                or non-functional assets for approval and safe disposal. Role-Based Authentication : Master admins get full access; users see only their relevant data and forms. 📊 Dashboard Insights : Visual summaries of asset usage, ticket trends, and
                disposal activity. 🔄 Software License Tracking : Monitor software renewals, expiry dates, and license allocations.
            </p>

            <div class="chain">
                AssetNexIT
            </div>

            <p class="textthree">
                🎓 Universities & Institutions Track lab computers, projectors, and other digital infrastructure. 🏢 Offices & Enterprises Manage laptops, networking equipment, and software licenses with clarity.
            </p>