/* .container {
    display: flex;
    flex-direction: column;
    gap: 40px 30px;
    width: 200px;
    border-radius: 20px;
    height: 300px;
    background-color: rgb(190, 168, 211);
}

.containerr {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px 30px;
    width: 200px;
    border-radius: 20px;
    height: 300px;
    background-color: rgb(190, 168, 211);
}

.containerrr {
    display: flex;
    flex-direction: column;
    gap: 40px 30px;
    width: 200px;
    border-radius: 20px;
    height: 300px;

} */

body {
    background-color: rgb(245, 243, 241);
    height: 2000px;
    width: 1000px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 2000px;
    margin-top: 100px;
    margin-left: 350px;
    align-items: center;
    justify-content: center;
}

.wrapper>div {
    border: 2px solid rgb(214, 153, 73);
    border-radius: 10px;
    background-color: rgb(233 171 88 / 50%);
    padding: 1em;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #922f08;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(50px, auto);
}

.one {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 30px;
    width: 300px;
    font-weight: 900;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.one:hover {
    transform: translateX(20px);
    /* transform: translateY(-10px); */
    transition-duration: 0.7s;
    background-color: #c43b05;
}

.company {
    font-size: 30px;
    font-weight: 900;
    color: #fa4802
}

.two {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-left: 180px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    width: 300px;
    height: 250px;
}

.two:hover {
    transform: translateX(20px);
    transition-duration: 0.7s;
    background-color: #c43b05;
}

.three {
    grid-column: 3/3;
    grid-row: 1;
    margin-top: 20px;
    height: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 300px;
    font-weight: bold;
    margin-left: 30px;
}

.three:hover {
    transform: translateX(20px);
    transition-duration: 0.7s;
    background-color: #c43b05;
}

.four {
    grid-column: 1/3;
    grid-row: 2;
    margin-top: 20px;
    height: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 300px;
    font-weight: bolder;
}

.four:hover {
    transform: translateX(20px);
    transition-duration: 0.7s;
    background-color: #c43b05;
}

.five {
    grid-column: 2/3;
    grid-row: 2;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    height: 250px;
    width: 300px;
    font-weight: 900;
    margin-left: 180px;
}

.five:hover {
    transform: translateX(20px);
    transition-duration: 0.7s;
    background-color: #c43b05;
}

.six {
    grid-column: 3/3;
    grid-row: 2;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 300px;
    font-weight: 1000;
    margin-left: 30px;
}

.six:hover {
    transform: translateX(20px);
    transition-duration: 0.7s;
    background-color: #c43b05;
}


/* Container styling */

.containerr {
    position: relative;
    width: 300px;
    height: 100px;
    margin-left: 530px;
    margin-top: 50px;
    overflow: hidden;
    background-color: #e0dada;
    border: 5px solid #ccc;
}


/* Sliding content styling */

.sliding-content {
    position: absolute;
    top: 50%;
    left: -100%;
    /* Start off-screen */
    transform: translateY(-50%);
    background-color: #be5524;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slide-in-out 4s infinite;
    /* Animation applied */
}


/* Keyframes for sliding in and out */

@keyframes slide-in-out {
    0% {
        left: 0;
        /* Start off-screen (left) */
    }
    25% {
        left: 33;
        /* Fully visible */
    }
    75% {
        left: 70;
        /* Stay visible */
    }
    100% {
        left: 100;
        /* Slide out (right) */
    }
}