<!-- <div class="container"></div>
<div class="containerr"></div>
<div class="containerrr"></div> -->

<body>
    <div class="wrapper">
        <div class="one">Use <span class="company">AssetNexIT</span>to your benefit!</div>
        <div class="two">Experience the easiest way to access your ITAsset details</div>
        <div class="three">ITAsset Access Simpified!</div>
        <div class="four"></div>
        <div class="five"></div>
        <div class="six"></div>
    </div>

    <div class="containerr">
        <div class="sliding-content">AssetNexIT- TRACK | MANAGE | DISPOSE</div>
    </div>




</body>