<body>

    <div class="intro">
        <h1>AssetNex<span class=focus>IT</span></h1>
        <!-- <p>Track | Manage | Dispose</p> -->
    </div>

    <div class="container">

        <div>
            <h4 class>FUNDING</h4>
            <p class="number">$XMn</p>
            <p class="highlight">University/Corporate Backed</p>
        </div>

        <div>
            <h4>FOUNDED</h4>
            <p class="number">2025</p>
            <p class="highlight">Born out of Tech for Sustainability</p>
        </div>

        <div>
            <h4>HEADQUARTERS</h4>
            <p class="number">India</p>
            <p class="text-sm mt-1">Built for Indian Institutions</p>
        </div>

        <div>
            <h4>PRESS</h4>
            <p class="number">In the News</p>
            <p class="highlight">Recognized by Smart Campus Journals</p>
        </div>

        <div>
            <h4>PURPOSE</h4>
            <p class="number">Sustainable IT Dashboard</p>
            <p class="highlight">Fostering Eco-Conscious Culture</p>
        </div>

        <div>
            <h4>CULTURE</h4>
            <p class="number">Values</p>
            <p class="highlight">Transparency • Tech • Trust</p>
        </div>



    </div>


    <p class="text-center text-gray-500 mt-10">— AssetNexIT About Us Page —</p>


    <div class="navbar">
        <div class="logo-wrapper">
            <h1 class="logo"><a routerLink="/landing" (click)="goToLanding()">AssetNex<span class="highlight">IT</span></a></h1>
            <!-- <a (click)="goToLanding()">AssetNex<span class="highlight">IT</span></a> -->

            <p class="below">TRACK | MANAGE | DISPOSE</p>
        </div>

        <ul class="nav-links">
            <li><a routerLink="/landing">MAIN</a></li>
            <li><a routerLink="/dashboard">DASHBOARD</a></li>
            <li><a routerLink="/login">LOGIN</a></li>
        </ul>

    </div>


</body>
