<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>REALALERTS LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="real-alerts.component.css" rel="stylesheet">
</head>

<body>
    <h3>REAL ALERTS</h3>
    <div class="nav-left">
        <div class="navbar">
            <div class="logo-wrapper">
                <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                <p class="below">TRACK | MANAGE | DISPOSE</p>
            </div>
            <ul class="nav-links">
                <li>
                    <a (click)="goTo('/assets/explore')"><img src="assets/images/image (1).svg">EXPLORE </a>
                </li>
                <li>
                    <a (click)="goTo('/assets/support')"><img src="assets/images/image (2).svg">SUPPORT DESK</a>
                </li>
                <li>
                    <a (click)="goTo('/about')"><img src="assets/images/image (3).svg">ABOUT</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="buttonrow">
        <button type="button" class="btn btn-dark" (click)="goToDashboard()" routerlink="/dashboard"><img src="assets/images/image (10).svg">To Dashboard</button>
        <button type="button" class="btn btn-dark" (click)="goToDelete()"><img src="assets/images/image (12).svg">To Delete</button>

    </div>
    <div class="alerts">
        <h3>Live Inventory Alerts</h3>
        <ul>
            <li *ngFor="let a of alerts">
                <strong [ngClass]="a.level">{{ a.assetName }}</strong> {{ a.message }} <small>({{ a.currentStock }})</small>
            </li>
        </ul>
    </div>
    <p-table class="table table-striped" [value]="alerts$ | async" [paginator]=" true " [rows]="12 ">
        <ng-template #header>
            <tr>
                <th pSortableColumn="id ">ID
                    <p-sortIcon field="id "></p-sortIcon>
                </th>
                <th pSortableColumn="assetId ">ASSET ID
                    <p-sortIcon field="assetId "></p-sortIcon>
                </th>
                <th pSortableColumn="assetName ">ASSET NAME
                    <p-sortIcon field="assetName "></p-sortIcon>
                </th>
                <th pSortableColumn="stockQuantity ">STOCK QUANTITY
                    <p-sortIcon field="stockQuantity "></p-sortIcon>
                </th>
                <th pSortableColumn=" threshold ">THRESHOLD
                    <p-sortIcon field="threshold"></p-sortIcon>
                </th>
                <th pSortableColumn="level ">LEVEL
                    <p-sortIcon field="level "></p-sortIcon>
                </th>
                <th pSortableColumn="message ">MESSAGE
                    <p-sortIcon field="message "></p-sortIcon>
                </th>
                <th pSortableColumn="createdAt ">CREATED AT
                    <p-sortIcon field="createdAt "></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-alerts>
            <tr>
                <td>{{ alerts.id }}</td>
                <td>{{ alerts.assetId}}</td>
                <td>{{ alerts.assetName }}</td>
                <td>{{alerts.stockQuantity}}</td>
                <td>{{ alerts.threshold }}</td>
                <td>{{alerts.level}}</td>
                <td>{{alerts.message}}</td>
                <td>{{alerts.createdAt | date}}</td>
            </tr>
        </ng-template>
    </p-table>