body {
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upperbox {
    width: 2000px;
    height: 250px;
    background: linear-gradient(135deg, #fafafa, #f8f8f8);
    margin-left: -20px;
    border-radius: 12px;
    margin-top: -20px;
}

.first {
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-left: -30px;
    transform: rotate(-15deg);
}

.second {
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
    margin-left: 1040px;
    transform: rotate(15deg);
}

.hi {
    display: flex;
    margin-top: -310px;
    margin-right: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: rgb(238, 84, 23);
    font-style: bold;
    font-weight: 1000;
}

.hi:hover {
    transform: scale(1.2);
    transition-duration: 1.1s;
}

@keyframes hi {
    0% {
        left: -80;
        /* Start off-screen (left) */
    }
    25% {
        left: 20;
        /* Fully visible */
    }
    75% {
        left: 60;
        /* Stay visible */
    }
    100% {
        left: 100;
        /* Slide out (right) */
    }
}

.hello {
    display: flex;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-right: 500px;
    text-align: center;
    justify-content: center;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: rgb(238, 84, 23);
    font-style: bold;
    font-weight: 900;
}

.search {
    border-radius: 12px;
    width: 600px;
    height: 40px;
    border-color: rgb(224, 94, 43);
    border-width: 0.15rem;
    margin-top: 40px;
    margin-left: 420px;
    box-shadow: 3px 3px #e7dede;
}

.search:hover {
    transform: scale(1.1);
    transition-duration: 1.1s;
}

input ::placeholder {
    margin-right: 60px;
    color: rgb(192, 75, 7);
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article {
    margin-top: 15px;
    color: black;
    margin-left: 200px;
    width: 1000px;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    background-color: #f0842c;
    height: 100px;
    border-radius: 15px;
    border-width: 0.2rem;
    border-color: rgb(31, 29, 29);
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.article:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
}

.container {
    margin-top: 50px;
    margin-left: 200px;
    width: 1000px;
    background-color: #f0842c;
    height: 100px;
    border-radius: 18px;
    border: width 2rem;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bolder;
    color: black;
    font-size: 20px;
}

.container:hover {
    transform: scale(1.2);
    transition-duration: 1.5s;
}

.shift {
    margin-top: 38px;
    margin-left: 20px;
}

.pandd {
    margin-top: 38px;
    margin-left: 20px;
}

.see {
    margin-top: 120px;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(14, 14, 14);
}

.popular {
    margin-left: 120px;
    margin-top: 60px;
    font-weight: 900px;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkone {
    margin-top: 110px;
    margin-left: 120px;
}

.linktwo {
    margin-top: 160px;
    margin-left: 150px;
}

a {
    color: rgb(15, 15, 15);
    font-weight: 700;
    font-style: bold;
}

.icon {
    margin-left: 50px;
    margin-top: 40px;
}

.icon {
    margin-left: 50px;
    margin-top: 40px;
}