<body>
    <div class="upperbox">

        <img src="assets/images/first.png" class="first">
        <img src="assets/images/secondd.png" class="second">
        <p class="hello">FAQ: Answers and insights from the AssetNexIT Team</p>
        <p class="hi">Hi, How can we help?</p>
        <div style="position: relative; display:inline-block;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg><input type="text" class="search" placeholder="Search your Query"></div>
    </div>
    <div class="article">
        <p class="head" class="popular">Popular Articles
            <span class="linkone"><a href="https://www.servicenow.com/products/it-asset-management/what-is-itam.html">IT Asset Management
            </a></span>
            <span class="linktwo"><a href="https://www.atlassian.com/itsm/it-asset-management">ITAM
            </a></span>
        </p>
    </div>


    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="orangered" class="icon" viewBox="0 0 16 16">
  <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6"/>
  <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a7 7 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79q.145.486.22 1"/>
</svg>
        <p class="shift">General Questions & Overview</p>

    </div>

    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="orangered" class="icon" viewBox="0 0 16 16">
  <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6"/>
  <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a7 7 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79q.145.486.22 1"/>
</svg>
        <p class="pandd">Procurement and Dispatch<span class="see">See where your assets are sourced from!</span></p>
    </div>


    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="orangered" class="icon" viewBox="0 0 16 16">
  <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6"/>
  <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a7 7 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79q.145.486.22 1"/>
</svg>
        <p class="pandd">Functionalities and Basics</p>
    </div>

    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="orangered" class="icon" viewBox="0 0 16 16">
  <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6"/>
  <path d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a7 7 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79q.145.486.22 1"/>
</svg>
        <p class="pandd">Allotment and Approval</p>
    </div>

</body>