    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        color: black;
    }
    
    h3 {
        text-align: center;
        font-size: 18px;
        font-style: bold;
        font-weight: 200px;
    }
    
    th {
        gap: 10px;
    }
    
    p-table {
        font-size: 16px;
        font-style: bold;
        font-weight: 100rem;
        color: black;
    }
    
    .custom-table {
        min-width: 10rem;
    }
    
    th {
        width: 10%;
    }
    
    b.utton-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        /* Adjust horizontal spacing as needed */
        margin-top: 20px;
        transform: translateX(12px);
        transition-duration: 1s;
    }
    
    .button-wrapper button {
        display: flex;
        flex-direction: column;
        gap: 500px;
        width: 160px;
        padding: 10px 20px;
        font-family: system-ui, sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background-color: #f0842c;
        color: rgb(10, 1, 1);
        transition: background-color 0.3s, color 0.3s;
    }
    
    .button-wrapper button:hover {
        background-color: #f3a75f;
        color: rgb(5, 5, 5);
    }
    /* .button-row {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    } */
    
    .back {
        align-self: flex-start;
        padding: 10px 20px;
        margin-left: 100px;
        margin-top: 100px;
        background-color: #f0842c;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
    
    .back:hover {
        background-color: #f3a75f;
    }
    
    .button-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        margin-top: 10px;
    }
    
    .button-wrapper button {
        width: 160px;
        padding: 10px 20px;
        font-family: system-ui, sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background-color: #f0842c;
        color: rgb(10, 1, 1);
        transition: background-color 0.3s, color 0.3s;
    }
    
    .button-wrapper button:hover {
        background-color: #f3a75f;
        color: rgb(5, 5, 5);
    }
    
    button:hover {
        background-color: #f3a75f;
        color: rgb(5, 5, 5);
        transition: 0.3s;
    }
    
    button a {
        color: black
    }
    
    .back {
        display: flex;
        width: 60px;
        margin-left: -1200px;
        padding: 10px 20px;
        margin-top: -40px;
        background-color: #f0842c;
    }
    
    button .buttoncriteria {
        margin-right: -200px;
    }