<body>
    <div class="app-wrapper">

        <div id="sidebar" class="sidebar expanded">


            <ul class="sidebar-menu">
                <li><a href="/assets"> ASSETS INVENTORY</a></li>
                <li><a routerLink="/ewaste/disposable-assets" (click)="goToEDispose()"> E-DISPOSAL</a></li>
                <li><a routerlink="/assets/support" (click)="goToSupport()"> SUPPORT</a></li>
                <li><a href="/reports"> REPORTS</a></li>
                <li><a a (click)="goTo('/helppage')"> HELP</a></li>
                <li><a href="/logout"> LOGOUT</a></li>
            </ul>
        </div>


        <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
            <ul class="sidebar-menu">
                <li>
                    <a (click)="goTo('/assets')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> ASSETS INVENTORY</a>
                </li>
                <li><a (click)="goTo('/ewaste/disposable-assets')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> E-DISPOSAL INVENTORY</a></li>
                <li>
                    <a (click)="goTo('/newsupport')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> SUPPORT INVENTORY</a>
                </li>
                <li>
                    <a (click)="goTo('softwarelicense')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> SOFTWARE INVENTORY</a>
                </li>
                <li>
                    <a (click)="goTo('/assets/hardware')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> HARDWARE INVENTORY</a>
                </li>

                <li>
                    <a (click)="goTo('/livetracking')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> LIVE TRACKING</a>
                </li>

                <li>
                    <a (click)="goTo('/reports')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> REPORTS</a>
                </li>

                <li>
                    <a (click)="goTo('/uinew')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> UINEW</a>
                </li>

                <li>
                    <a (click)="goTo('/helppage')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> HELP</a>
                </li>
                <li>
                    <a (click)="goTo('/logout')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg> LOGOUT</a>
                </li>
            </ul>

            <button id="sidebar-toggle-btn" class="sidebar-toggle-btn" (click)="toggleSidebar()">
      {{ isSidebarCollapsed ? '►' : '☰' }}
    </button>
        </div>

        <div class="main-content">
            <router-outlet></router-outlet>

            <!-- <p-chart type="bar" [data]="{
     labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
     datasets: [{
         label: 'Votes',
         data: [12, 19, 3, 5, 2, 3],}" [options]="basicOptions" /> -->
            <div class="nav-left">


                <!--azure login function--->
                <div class="navbar">
                    <div class></div>

                    <button id="sidebar-toggle-btnn" class="sidebar-toggle-btnn" (click)="toggleSidebar()">&#x25B6;</button>

                    <div class="logo-wrapper">
                        <h1 class="logo" (click)="goToLanding()">AssetNex<span class="highlight">IT</span> </h1>
                        <!-- <a (click)="goToLanding()">AssetNex<span class="highlight">IT</span></a> -->

                        <p class="below">TRACK | MANAGE | DISPOSE</p>
                    </div>



                    <ul class="nav-links">
                        <li><a (click)="goTo('/assets/explore')">EXPLORE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></a></li>
                        <li><a (click)="goTo('/assets/support')">SUPPORT DESK <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
  <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
  <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
</svg></a></li>
                        <li><a (click)="goTo('/about')">ABOUT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
</svg></a></li>
                    </ul>

                </div>



                <!-- <p>
                    <div class="explain">A comprehensive IT Asset Management platform that streamlines the lifecycle of the said assets, their management and tracking</div>Overview</p> -->



                <div class="chart-row">
                    <p-chart *ngIf="assetChartData" type="doughnut" class="pie" [data]="assetChartData" [options]="assetChartOptions">
                    </p-chart>

                    <p-chart *ngIf="eWasteChartData" type="doughnut" class="pie" [data]="eWasteChartData" [options]="eWasteChartOptions">
                    </p-chart>

                    <p-chart *ngIf="hardwareChartData" type="bar" class="bar" [data]="hardwareChartData" [options]="hardwareChartOptions">
                    </p-chart>

                    <!-- 
                    <p-chart *ngIf="supportChartData" type="doughnut" [data]="supportChartData" [options]="supportChartOptions" class="doughnut">
                    </p-chart> -->

                    <!-- <p-chart *ngIf="supportChartData" type="pie" [data]="supportChartData" [options]="supportChartOptions" class="pie">
                    </p-chart>

                    <p-chart *ngIf="supportChartData" type="bar" [data]="supportChartData" [options]="supportChartOptions" class="bar"> -->


                </div>

                <div class="box">

                    <div class="container">
                        <p>
                            <a routerLink="assets" routerLinkActive="active">Tracking & Inventory</a>
                        </p>
                    </div>

                    <div class="container">
                        <p><a routerLink="ewaste/disposable-assets" routerLinkActive="active">Recycling & Disposal</a></p>
                    </div>

                    <div class="container">
                        <p><a routerLink="newsupport" routerLinkActive="active">Support and Concerns</a></p>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="footer">
        <div class="bottom">
            AssetNexIT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
</svg> 2025 All Rights Reserved | Terms of Service | Privacy Policy | Contact Us | Cookies
        </div>
    </div>
</body>